.NavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 320px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #f7f7f7;
    justify-content: space-between;
}

.nav-links-container {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-button {
    font-size: medium;
    color: black;
    background: none;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
    background-color: #c7baf7;
    border-color: #663399;
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.right-section {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.right-section button {
    display: flex;
    align-items: center;
    padding: 5px;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.right-section button:hover {
    transform: scale(1.1);
}

.right-section img {
    height: 25px;
    cursor: pointer;
}

.right-section .login {
    padding: 4px 8px;
    border: 1px solid #663399;
    border-radius: 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.right-section .login:hover {
    background-color: #c7baf7;
}

.right-section .account-icon {
    padding: 0;
    margin-left: 10px;
}

.cart-widget {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-widget:hover {
    background-color: transparent;
    border: none;
}

.cart-count {
    position: absolute;
    top: -13px;
    right: -13px;
    background-color: #663399;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 10px;
}

.menu-toggle {
    display: none;
    font-size: 32px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50px;
}

.menu-toggle:focus,
.menu-toggle:active,
.menu-toggle:hover {
    outline: none;
    color: #c7baf7;
}

/* NavBar: Responsive */
@media (max-width: 820px) {
    .NavBar {
        padding: 16px;
        justify-content: center;
        gap: 32px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links-container {
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
        width: 100%;
        display: none;
    }

    .nav-links-container.open {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .right-section {
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 350px;
    }

    .right-section .account-icon {
        margin-left: 25px;
    }

    .cart-widget {
        margin-left: 25px;
    }
}

@media (max-width: 480px) {
    .NavBar {
        padding: 16px;
    }

    .nav-links-container {
        gap: 16px;
    }

    .nav-button {
        padding: 0 5px;
    }

    .right-section {
        flex-direction: row;
        gap: 0;
        justify-content: space-evenly;
        margin-top: 80px;
    }
}