/* Footer */
.footer {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.footer-logo {
    margin-bottom: 20px;
    padding: 10px;
}

.footer-logo img {
    max-width: 50px;
}

.footer-icons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-icons a {
    margin: 0 10px;
}

.footer-icons img {
    width: 25px;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
}